{% extends "../index.html" %}

{% block body %}
<nav class="transbox">

<nav>
    <div class="nav-wrapper z-depth-2 blue lighten-1">
        <a href="#!" class="brand-logo">Cuentas</a>
        <ul class="right hide-on-med-and-down">
          <!--  <li><a href="crearCuenta"><i class="material-icons left">playlist_add</i>Nuevo</a></li> -->
        </ul>
    </div>
</nav>
<table style="width: 30%">
            <th ><input class=" grey darken-3"onchange="recibir()" id="txt_buscar" type="text" style="width: 200px; color: white; border: solid" placeholder="Ingrese numero de cedula" value=""></th>
            <th ><a class="grey darken-3" id="boton_buscar" style="width: 50px; height: 50px; font-size: 25px" class="btn btn-success"><i class="material-icons left">search</i></a></th>

        </table>
        <script>
            function recibir() {
                var valor = document.getElementById("txt_buscar").value;
                document.getElementById("boton_buscar").href = 'buscarCuenta?txt_buscar'+valor+'';
            }
        </script>
<div class="row">
    <div class="col s12">
        <div  class="card z-depth-5 blue lighten-2">
            <div class="card-content ">
                <span class="card-title">{{mensaje}}</span>
                <table class="highlight responsive-table">
                    <thead class=" blue lighten-3">
                        <tr>
                            <th>Numero de Cuenta</th>
                            <th>Cédula</th>
                            <th>Saldo</th>
                            <th>Tipo de Cuenta</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody class="blue lighten-4">
                        {% for item in clientes %}
                        <tr>
                            <td>{{item.numero}}</td>
                            <td>{{item.cliente}}</td>
                            <td>{{item.saldo}}</td>
                            <td>{{item.tipoCuenta}}</td>
                            <td><a class="btn disable" href="verTransaccion?numero={{item.numero}}">Transacciones</a></td>
                            <td><a class="btn disable"href="buscarCuentaTransferencia?numero={{item.numero}}">transferencia</a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <nav>
                    <div class="nav-wrapper  blue lighten-2">
                        <ul class="right hide-on-med-and-down">
                            <li><a class="btn-floating disable black pulse"href="crearCuenta"><i class="material-icons left">add</i></a></li>
                        </ul>
                    </div>

                </nav>
        </div>
    </div>
</div>
</nav>
{% endblock %}
{% block js %}
<script>
    var eliminar = function(id){
        $.ajax({
            url: "eliminar",
            method: "POST",
            data: { id : id }
        }).success(function( msj ) {
            if(msj == "eliminado"){

            }
            if(msj == "no eliminado"){

            }
            if(msj == "perdido"){

            }
        });
    }
</script>
{% endblock %}
